main {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 1em;
    padding: 0 1em 0 1em;
}
main h1 {
    padding: 1em 10em 0 10em;
    text-align: center;
}

.home {
    display: flex;
    justify-content: space-around;
    padding: 3em 0 3em 0;
}

.home-img {
    width: 40%;
    opacity: 0.8;
}

.home-text {
    width: 40%;
    margin: auto 0 auto 0;
    text-align: center;
    font-size: large;
}

.home button {
    padding: 0.5em;
    color: black;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    text-decoration: none;
}

.home button:active {
    padding: 0.5em;
    color: white;
    background-color: black;
    border: white solid 1px;
    border-radius: 10px;
    text-decoration: none;
}

.projets {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 1em;
    padding: 0 1em 0 1em;
}
.projets h2 {
    padding: 1em 10em 0 10em;
    text-align: center;
    color: white;
}

.article-projet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em 0 3em 0;
}

.projet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    padding: 2em 1em 2em 1em;
    color: white;
    background-color: black;
    border: rgba(255, 255, 255, 0.5) solid 2px;
    border-radius: 10px;
}

.projet h3{
    text-align: center;
}

.projet img {
    width: 35em;
    height: 20em;
}

.projet button {
    padding: 0.5em;
    color: black;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    text-decoration: none;
}

.projet button:active {
    padding: 0.5em;
    color: white;
    background-color: black;
    border: white solid 1px;
    border-radius: 10px;
    text-decoration: none;