<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="../../index.js" defer></script>
    <title>Portfolio de Boubnan Abderrehman</title>
</head>
<body>
    <header>
        <img src="../../public/image/logo-ab-transp.PNG" alt="">
        <nav>
            <div class="burger" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
              </div>
            <ul class="menu" id="menu">
                <li><a href="home">Accueil</a></li>
                <li><a href="about">À propos</a></li>
                <li><a href="portfolio">Portfolio</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1> Bonjour, je suis BOUBNAN Abderrehman, Développeur Web. Bienvenue sur mon portfolio !</h1>
        <div class="home">
            <img class="home-img" src="../../public/image/image-home.jpg" alt="">
            <div class="home-text">
                <p>Je suis un développeur web passionné par la création de sites web. J'ai des compétences en HTML, CSS, JavaScript, Node.js et PostgreSQL. Je suis également à l'aise avec les frameworks comme Bootstrap et React.</p>
                <button>Pour en savoir plus cliquez ici !</button>
        </div>
    </main>
    <section class="projets">
        <h2>Mes derniers projets</h2>
        <div class="article-projet">
        <article class="projet">
            <h3>Mon cv</h3>
            <img src="../../public/image/cv-en-ligne.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quasi laboriosam sed. Magni blanditiis omnis maxime voluptas dignissimos voluptatum cumque placeat sunt, explicabo tempore id repellendus quasi, corporis optio aliquid.</p>
            <button>Cliquez pour plus de details</button>
        </article>
        <article class="projet">
            <h3>Naya-Mode</h3>
            <img src="../../public/image/naya-mode.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quasi laboriosam sed. Magni blanditiis omnis maxime voluptas dignissimos voluptatum cumque placeat sunt, explicabo tempore id repellendus quasi, corporis optio aliquid.</p>
            <button>Cliquez pour plus de details</button>
        </article>
        <article class="projet">
            <h3>Ocoffee</h3>
            <img src="../../public/image/ocoffee.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quasi laboriosam sed. Magni blanditiis omnis maxime voluptas dignissimos voluptatum cumque placeat sunt, explicabo tempore id repellendus quasi, corporis optio aliquid.</p>
            <button>Cliquez pour plus de details</button>
        </article>
        </div>
    </section>
    <footer>
        <div class="reseaux-sociaux">
            <a href="#"><img src="../../public/image/github.png" alt="icone-github"></a>
            <a href="#"><img src="../../public/image/linkedin.png" alt="icone-linkedin"></a>
            <a href="#"><img src="../../public/image/instagram.png" alt="icone-insta"></a>
        </div>
        <ul>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
        </ul>
        <p>© 2025 Boubnan Abderrehman. All rights reserved.</p>
    </footer>
</body>
</html>

<!-- Call-to-action (CTA)
Un bouton invitant à explorer votre travail ou à vous contacter, par exemple « Voir mes projets » ou « Contactez-moi ».

Liens vers vos réseaux sociaux
Des icônes discrètes menant à vos profils professionnels pour permettre aux visiteurs de suivre votre actualité. -->