<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="../../index.js" defer></script>
    <title>Portfolio de Boubnan Abderrehman</title>
</head>
<body>
    <header>
        <img src="../../public/image/logo-ab-transp.PNG" alt="">
        <nav>
            <div class="burger" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
              </div>
            <ul class="menu" id="menu">
                <li><a href="home">Accueil</a></li>
                <li><a href="about">À propos</a></li>
                <li><a href="portfolio">Portfolio</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1> Bonjour, je suis BOUBNAN Abderrehman, Développeur Web. Bienvenue sur mon portfolio !</h1>
        <div class="home">
            <img class="home-img" src="../../public/image/image-home.jpg" alt="">
            <div class="home-text">
                <p>Je suis un développeur web passionné par la création de sites web. J'ai des compétences en HTML, CSS, JavaScript, Node.js et PostgreSQL. Je suis également à l'aise avec les frameworks comme Bootstrap et React.</p>
                <button>Pour en savoir plus cliquez ici !</button>
        </div>
    </main>
    <footer>
        <p>© 2025 Boubnan Abderrehman. All rights reserved.</p>
        <ul>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
        </ul>
    </footer>
</body>
</html>